#title {
    background-color: #0000008f;
    color: white;
    margin-top: 5%;
    margin-left: 5%;
    width: 90%;
    height: 750px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding-bottom: 50px;
    padding-left: 20px;
    border-radius: 20px 20px 20px 20px;
}
#title h1 {
    font-size: 71px;
    margin: 0;
    margin-bottom: 10px;
}
#title a {
    text-decoration: none;
    color: white;
    background-color: #4c4c4c;
    border-radius: 10px 10px 10px 10px;
    border: none;
    padding: 7px 14px;
}
#about {
    background-color: #0000008f;
    color: white;
    margin-top: 5%;
    margin-left: 5%;
    width: 90%;
    height: 750px;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    border-radius: 20px 20px 20px 20px;
}
#about p {
    font-size: 1rem;
    word-wrap: break-word;
    max-width: 98%;
}