* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
body {
    margin: 0;
    padding-top: 60px;
    background-color: #111184;
}
#navbar {
    position: fixed;
    top: 10px;
    left: 5%;
    right: 5%;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    height: 60px;
    box-sizing: border-box;
    z-index: 1000;
    border-radius: 30px 30px 30px 30px;
}
#navleft {
    position: absolute;
    left: 1rem;
}
#navMiddle {
    display: flex;
    gap: 1rem;
    align-items: center;
}
#navRight {
    position: absolute;
    right: 1rem;
}
#navleft a, #navMiddle a, #navRight a {
    color: inherit;
    text-decoration: none;
    padding: 0.35rem 0.5rem;
}
#signUpBtn {
    background-color: #4c4c4c;
    border: none;
    border-radius: 10px 10px 10px 10px;
}
#signUpBtn:hover {
    background-color: #6e6e6e;
    cursor: pointer;
}
#logoBtn:hover {
    cursor: pointer;
}
#title {
    background-color: #0000008f;
    color: white;
    margin-top: 5%;
    margin-left: 5%;
    width: 90%;
    height: 750px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding-bottom: 50px;
    padding-left: 20px;
    border-radius: 20px 20px 20px 20px;
}
#title h1 {
    font-size: 71px;
    margin: 0;
    margin-bottom: 10px;
}
#title a {
    text-decoration: none;
    color: white;
    background-color: #4c4c4c;
    border-radius: 10px 10px 10px 10px;
    border: none;
    padding: 7px 14px;
}
#about {
    background-color: #0000008f;
    color: white;
    margin-top: 5%;
    margin-left: 5%;
    width: 90%;
    height: 750px;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    border-radius: 20px 20px 20px 20px;
}
#about p {
    font-size: 1rem;
    word-wrap: break-word;
    max-width: 98%;
}
#footer {
    position: static;
    bottom: 0;
    left: 0;
    right: 0;
    margin-top: 1%;
    background-color: black;
    color: white;
    padding: 1rem;
    text-align: center;
    border-radius: 10px 10px 0 0;
}